<div class="main_content">
    <div class="want_to_help_card">
        <mat-card [routerLink]="'/want-to-help'" class="card">
            <img class="image" mat-card-image src="{{wantToHelp.image}}"/>
            <mat-card-title>{{wantToHelp.title}}</mat-card-title>
            <mat-card-subtitle>{{wantToHelp.subtitle}}</mat-card-subtitle>
        </mat-card> 
    </div>
    <div class="need_help_card">
        <mat-card class="card">
            <img class="need_help_image" mat-card-image src="{{needHelp.image}}"/>
            <mat-card-title>{{needHelp.title}}</mat-card-title>
            <mat-card-subtitle>{{needHelp.subtitle}}</mat-card-subtitle>
        </mat-card> 
    </div>
</div>
