.title_bar{
    display: flex;
    align-items: center;
    background-color: white;
    margin: 0;
    padding: 10px;
    box-shadow: 2px 2px 16px gray;
}

.heading{
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

.heading:focus{
    outline: 0;
}

button{
    margin-left: auto;
}