.want_to_help_card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 98px);
    margin: 0 200px;
}

.card{
    width: 300px;
    height: 400px;
    margin: 0 20px;
}

@media only screen and (min-width: 270px) and (max-width: 700px){
    .want_to_help_card{
        flex-direction: column;
        height: 180%;
        margin: 0;
    }

    .card{
        margin: 20px 0;
    }
}